# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Information Technology\Nam 3 Ky 2\ThietKePhanMemHuongDoiTuong\Website_Sales\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
